
@{
    Layout = "~/Views/Shared/_LayoutEs.cshtml";
}


    <main id="main">

        <section id="prod">
            <div class="padding_layout_1 product_detail">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <div class="product_detail_feature_img hizoom hi2">
                                        <div class='hizoom hi2'> <img src="~/img/products/mascarillaq.jpg" alt="#" /> </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-12 product_detail_side detail_style1">
                                    <div class="product-heading">
                                        <h2>Mascarilla quirúrgica</h2>
                                    </div>
                                    <div class="product-detail-side">  <span class="rating"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </span> </div>
                                    <div class="detail-contant">
                                        <p>
                                            Las mascarillas quirúrgicas protegen contra los agentes infecciosos transmitidos por gotitas. No obstante, no protegen contra los agentes infecciosos de transmisión por vía aérea.

                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="full">
                                        <div class="tab_bar_section">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#descripcion" role="tab">Descripción</a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Especificaciones</a> </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div id="descripcion" class="tab-pane active">
                                                    <div class="product_desc">
                                                        <p>
                                                            <h1>

                                                                Descripción del producto
                                                            </h1>
                                                            <br />
                                                            La máscara está hecha de tela no tejida para una fácil transpiración. Suave y cómodo gancho para la oreja lo mantiene en la cara sin la necesidad de ajustarlo cuando trabajas. Una barra de nariz flexible se adopta en el puente de la nariz; los cuatro lados de las marcas se unen de forma plana y firmemente a la cara; por lo tanto, evita que el aire no filtrado entre directamente en las máscaras desechables y por lo tanto respira de forma segura.
                                                        </p>
                                                    </div>
                                                </div>

                                                <div id="reviews" class="tab-pane">
                                                    <div class="product_review">
                                                        <h3>Especificaciones</h3>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive mb-0">
                                                                    <table class="table table-hover table-condensed">
                                                                        <tbody>

                                                                            <tr>
                                                                                <th>Colores disponibles</th>
                                                                                <td>Azul</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Cantidad de capas</th>
                                                                                <td>3 capas hipoalergénica</td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th>Certificaciones</th>
                                                                                <td>CE, FDA</td>
                                                                            </tr>


                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

   