
@{
    Layout = "~/Views/Shared/_LayoutEs.cshtml";
}

<!-- #header -->
<!--==========================
    Hero Section
============================-->
<section id="hero">
    <div class="hero-container">
        <h1>Bienvenidos a Surmed</h1>

        <a href="#Nos" class="btn-get-started">Iniciar</a>
    </div>
</section><!-- #hero -->

<main id="main">

    <!--==========================
        About Us Section
    ============================-->
    <section id="Nos">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <br />
                    <h2 class="title">Quienes somós?</h2>
                    <p>
                        Somos una empresa proveedora de suministros y equipos médicos de alta calidad, que enfoca sus esfuerzos en ofrecer un servicio de primera.

                        Fundada el 14 de febrero de 2018, surgimos por la necesidad en el mercado dominicano de trabajar con empresas que ofrezcan productos de alta calidad con el objetivo de satisfacer las necesidades en el sector salud. Nuestro cuerpo de venta tiene alcance en todo el territorio nacional, con sus oficinas en Santo Domingo, capital de la República Dominicana.
                    </p>


                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
                    <iframe style="height:100%; width:100%;" src="https://www.youtube.com/embed/fMjso8PUnI4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section><!-- #about -->
    <!--==========================

    <!--==========================
        Productos Section
    ============================-->
    <section id="prod">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Categoria de Productos</h3>
                <p class="section-description"></p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img">
                            <img class="img-responsive" src="~/img/kits.jpg" />
                        </div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="~/Home/productosA">Kits para sala de cirugía</a></h4>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img"> <img class="img-responsive" src="~/img/trajes.jpg" alt=""> </div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="~/Home/productosB">Trajes de bioprotección</a></h4>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                    <div class="product_list">
                        <div class="product_img"> <img class="img-responsive" src="~/img/otros.jpg" alt=""> </div>
                        <div class="product_detail_btm">
                            <div class="center">
                                <h4><a href="~/Home/productosC">Otros productos</a></h4>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==========================
        Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">

                <p class="section-description">
                    <h3 class="section-title">Nuestra Ubicacion</h3>
                    <br />
                    Calle Central No. 28, Sector Alfimar, Km 7 ½ Carretera Sanchez

                    Distrito Nacional, Republica Dominicana
                </p>
            </div>
        </div>

        <!-- Uncomment below if you wan to use dynamic maps -->
        <div class="mapouter">
            <div class="gmap_canvas"><iframe style="width:100%" height="380" id="gmap_canvas" src="https://maps.google.com/maps?q=calle%20central%20%2328%20sector%20alfimar&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies2.org"></a></div>
            <style>
                .mapouter {
                    position: relative;
                    text-align: center;
                    height: 380px;
                    width: 100%;
                }

                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 380px;
                    width: 100%;
                }
            </style>
        </div>
        @*<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>*@
        <br /><br />
        <div class="container wow fadeInUp mt-5">
            <div class="row justify-content-center">
                <div class="col-md-offset-1 col-md-10 col-sm-12">
                    <div class="form">
                        <form id="contact-form" role="form" action="" method="post">
                            <div class="section-header">

                                <h3 class="section-title">Contactanos</h3>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <input type="text" id="nombres" class="form-control" placeholder="Nombre completo" name="name" required>
                                            </td>
                                            <td>
                                                <input type="email" id="email" class="form-control" placeholder="correo" name="email" required>
                                            </td>
                                            <td>
                                                <input type="button" id="enviar"  class="form-control" name="Send message" value="Enviar Mensaje">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <textarea class="form-control" id="mensaje" rows="8" placeholder="Mensaje" name="message" required></textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #contact -->

</main>

@section PageScript{
    <script>

        (function () {
            emailjs.init("user_UfQXm3twUjQ31QdPwz7n1");
        })();

        const vue = new Vue({
            el: '#app',
            methods:
                $("#enviar").click(function () {
                    var Name = $("#nombres").val();
                    var Message = $("#mensaje").val();
                    var Email = $("#email").val();

                    let data = {
                        from_name: Name,
                        from_email: Email,
                        message: Message,
                        subject: "Nuevo mensaje",
                    };
                    console.log(data);
                    emailjs.send("service_0gnuaub", "template_w6yhgh8", data).then(function (response) {
                        if (response.text === 'OK') {
                            alert('El correo se ha enviado de forma exitosa');
                        }
                        console.log("SUCCESS. status=%d, text=%s", response.status, response.text);
                        $("#nombres").val("");
                        $("#mensaje").val("");
                        $("#email").val("");
                    }, function (err) {
                        alert('Ocurrió un problema al enviar el correo');
                        console.log("FAILED. error=", err);
                    });
                })
        });
    </script>
}


