
@{
    Layout = "~/Views/Shared/_LayoutEs.cshtml";
}


    <br />
    <br />
    <br />
    <main id="main">
        <br />
        <br />

        <section id="prod">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">Kits para sala de cirugía</h3>
                    <p class="section-description">Tenemos las mejores herramientas, especialmente diseñadas para realizar acciones específicas durante una cirugía u operación.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img">
                                <img class="img-responsive" src="~/img/products/CUBIERTA DE CAMA.jpg" />
                            </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleA1">Cubierta de cama</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/SABANA DE MOVILIZACION.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleA2">Sabana de movilización</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/thumbnail_image_6487327.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleA3">Cubierta de brazos</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/CUBIERTA DE ALMOHADA.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleA4">Cubierta de almohada</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/CAMA CUBIERTA.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleA5">Cama de cirugia cubierta</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/camadescubierta.png" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleA6">Cama de cirugia descubierta</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>



