
@{
    Layout = "~/Views/Shared/_LayoutEs.cshtml";
}


    <br />
    <br />
    <br />
    <main id="main">
        <br />
        <br />

        <section id="prod">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">MÁS PRODUCTOS</h3>
                    <p class="section-description">Encuentra otros productos para abastecer tu centro de salud.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img">
                                <img class="img-responsive" src="~/img/products/bajantes.jpg" />
                            </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleC1">Bajantes de suero</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/headcap.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleC2">Gorro quirúrgico</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/shoescover.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleC3">Cubre calzado quirúrgico</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/mascarillaq.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleC4">Mascarilla quirúrgica</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/thumbnail_IMG_6408.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleC5">Mascarilla N95</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/guantesdelatex.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/Home/DetalleC6">Guantes de látex</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
