
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SuroMedica</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/colors1.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/hizoom.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="header-fixed">
        <div class="container">


            @*<a href="#hero">SURMED</a>*@

            <img class="logo" src="~/img/logo1.PNG" />

            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="~/HomeE/Home">Home</a></li>
                    <li><a href="~/HomeE/productosC">Products</a></li>
                    <li><a href="#prod">Details</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->
    <!-- #hero -->
    <br />
    <br />
    <main id="main">

        <section id="prod">
            <div class="padding_layout_1 product_detail">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <div class="product_detail_feature_img hizoom hi2">
                                        <div class='hizoom hi2'> <img src="~/img/products/bajantes.jpg" alt="#" /> </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-12 product_detail_side detail_style1">
                                    <div class="product-heading">
                                        <h2>
                                            Serum downspouts
                                        </h2>
                                    </div>
                                    <div class="product-detail-side">  <span class="rating"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </span> </div>
                                    <div class="detail-contant">
                                        <p>
                                            

                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="full">
                                        <div class="tab_bar_section">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#descripcion" role="tab">
    Description
</a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">
    specs
</a> </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div id="descripcion" class="tab-pane active">
                                                    <div class="product_desc">
                                                        <p>
                                                            
                                                        </p>
                                                    </div>
                                                </div>

                                                <div id="reviews" class="tab-pane">
                                                    <div class="product_review">
                                                        <h3>
                                                            specs
                                                        </h3>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive mb-0">
                                                                    <table class="table table-hover table-condensed">
                                                                        <tbody>

                                                                            <tr>
                                                                                <th></th>
                                                                                <td></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th></th>
                                                                                <td></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th></th>
                                                                                <td></td>
                                                                            </tr>


                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <p>
                    <i class="fa fa-phone"></i> <a href="tel:+1 (809) 373-5296" title="+1 (809) 373-5296">+1 (809) 373-5296</a><br>
                    <i class="fa fa-envelope"></i> <a href="mailto:ventas@suromedical.com" title="Ventas">ventas@suromedical.com</a><br>
                    <i class="fa fa-map-marker"></i> Calle Central no. 28, Sector Alfimar, Distrito Nacional
                    <br />
                    <a href="https://instagram.com/suromedicalgroup?igshid=1tk5gllbc1dlg" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i> |

                    </a>

                    <a href="https://instagram.com/suromedicalgroup?igshid=1tk5gllbc1dlg" title="Instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>

                    </a>

                </p>
                &copy; Copyright <strong>2020 Suro Medical Group,</strong>
                All rights reserved.
            </div>

        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    @*<script src="contactform/contactform.js"></script>*@

    <!-- Template Main Javascript File -->
    <script src="~/Scripts/main1.js"></script>

    <script src="~/Scripts/hizoom.js"></script>
    <script>
        $('.hi1').hiZoom({
            width: 300,
            position: 'right'
        });
        $('.hi2').hiZoom({
            width: 550,
            position: 'right'
        });
    </script>
    <script>
        $('#myTab a').on('click', function (e) {
            e.preventDefault()
            $(this).tab('show')
        })

    </script>

</body>
</html>

