
@{
   
}


    <br />
    <br />
    <main id="main">

        <section id="prod">
            <div class="padding_layout_1 product_detail">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12 col-md-12">
                                    <div class="product_detail_feature_img hizoom hi2">
                                        <div class='hizoom hi2'> <img src="~/img/products/thumbnail_IMG_6408.jpg" alt="#" /> </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-12 col-md-12 product_detail_side detail_style1">
                                    <div class="product-heading">
                                        <h2>
                                            N95 mask
                                        </h2>
                                    </div>
                                    <div class="product-detail-side">  <span class="rating"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </span> </div>
                                    <div class="detail-contant">
                                        <p>
                                            

                                        </p>

                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="full">
                                        <div class="tab_bar_section">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#descripcion" role="tab">Description</a> </li>
                                                <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">
    specs
</a> </li>
                                            </ul>
                                            <!-- Tab panes -->
                                            <div class="tab-content">
                                                <div id="descripcion" class="tab-pane active">
                                                    <div class="product_desc">
                                                        <p>
                                                            
                                                        </p>
                                                    </div>
                                                </div>

                                                <div id="reviews" class="tab-pane">
                                                    <div class="product_review">
                                                        <h3>
                                                            specs
                                                        </h3>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="table-responsive mb-0">
                                                                    <table class="table table-hover table-condensed">
                                                                        <tbody>

                                                                            <tr>
                                                                                <th></th>
                                                                                <td></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th></th>
                                                                                <td></td>
                                                                            </tr>

                                                                            <tr>
                                                                                <th></th>
                                                                                <td></td>
                                                                            </tr>


                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>

  