
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SuroMedica</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->

    <link href="~/Content/style.css" rel="stylesheet" />

</head>

<body>

    <!--==========================
    Header
    ============================-->
    <header id="header" class="header-fixed">
        <div class="container">


            @*<a href="#hero">SURMED</a>*@

            <img class="logo" src="~/img/logo1.PNG" />

            <!-- Uncomment below if you prefer to use a text logo -->
            <!--<h1><a href="#hero">Regna</a></h1>-->
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="~/HomeE/Home">Home</a></li>
                    <li><a href="#prod">Products</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->


    <br />
    <br />
    <main id="main">
        <br />
        <br />

        <section id="prod">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">
                        Bioprotection suits
                    </h3>
                    <p class="section-description">Helps provide a protective barrier against liquid splashes, toxic dusts, and certain biological contaminants.</p>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img">
                                <img class="img-responsive" src="~/img/products/COVERALL.jpg" />
                            </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleB1">
    Polypropylene suits
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/traje azules.png" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleB2">Polyethylene suits </a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/batas.png" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleB3">
    surgical gowns
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div>
            </div>
        </section>

    </main>

    <footer id="footer">
        <div class="footer-top">
            <div class="container">

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                <p>
                    <i class="fa fa-phone"></i> <a href="tel:+1 (809) 373-5296" title="+1 (809) 373-5296">+1 (809) 373-5296</a><br>
                    <i class="fa fa-envelope"></i> <a href="mailto:ventas@suromedical.com" title="Ventas">ventas@suromedical.com</a><br>
                    <i class="fa fa-map-marker"></i> Calle Central no. 28, Sector Alfimar, Distrito Nacional
                    <br />
                    <a href="https://instagram.com/suromedicalgroup?igshid=1tk5gllbc1dlg" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i> |

                    </a>

                    <a href="https://instagram.com/suromedicalgroup?igshid=1tk5gllbc1dlg" title="Instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>

                    </a>

                </p>
                &copy; Copyright <strong>2020 Suro Medical Group,</strong>
                All rights reserved.
            </div>

        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/jquery-migrate.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/wow/wow.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
    <script src="~/lib/superfish/hoverIntent.js"></script>
    <script src="~/lib/superfish/superfish.min.js"></script>

    <!-- Contact Form JavaScript File -->
    @*<script src="contactform/contactform.js"></script>*@

    <!-- Template Main Javascript File -->
    <script src="~/Scripts/main1.js"></script>

</body>
</html>

