
@{
    
}

    <br />
    <br />
    <br />
    <main id="main">
        <br />
        <br />

        <section id="prod">
            <div class="container wow fadeIn">
                <div class="section-header">
                    <h3 class="section-title">
                        MORE PRODUCTS
                    </h3>
                    <p class="section-description">
                        Find other products to supply your health center.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img">
                                <img class="img-responsive" src="~/img/products/bajantes.jpg" />
                            </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleC1">
    Serum downspouts
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/headcap.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleC2">
    Surgical cap
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/shoescover.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleC3">
    Surgical shoe covers
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$24.99</span><span class="new_price"> $12.49</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/mascarillaq.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleC4">
    Surgical mask
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/thumbnail_IMG_6408.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleC5">
    N95 mask
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all">
                        <div class="product_list">
                            <div class="product_img"> <img class="img-responsive" src="~/img/products/guantesdelatex.jpg" alt=""> </div>
                            <div class="product_detail_btm">
                                <div class="center">
                                    <h4><a href="~/HomeE/DetalleC6">
    Latex gloves
</a></h4>
                                </div>
                                <div class="starratin">
                                    <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> </div>
                                </div>
                                <div class="product_price" hidden>
                                    <p><span class="old_price">$15.00</span> – <span class="new_price">$25.00</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

   